.atom
.buildlog
.DS_Store
.idea
.packages
.pub
packages
examples/fitness/ios/Flutter/flutter_assets
example/fitness/ios/Flutter/flutter_assets/kernel_blob.bin
example/fitness/ios/Flutter/flutter_assets/platform.dill
.flutter-plugins
**/.flutter-plugins-dependencies
/.dart_tool/
/examples/fitness/.dart_tool/
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Generated.xcconfig
/build/
examples/particledesigner/.flutter-plugins-dependencies
examples/particledesigner/.flutter-plugins-dependencies
examples/fitness/ios/Flutter/flutter_export_environment.sh
examples/particledesigner/.flutter-plugins-dependencies
examples/particledesigner/ios/Flutter/flutter_export_environment.sh
